@charset "UTF-8";
@import "compass/reset";
@import "compass/css3";
@import "./_theme";
@import "./_header";

*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.wrapper{
  max-width: 640px;
  margin: 0 auto;
  word-wrap: break-word;
  // background-color: #f5f5f5;
}
textarea{
  resize: vertical;
}
.layer{
  position: fixed;
  display: block;
  z-index: 10;
  top: 0.2rem;
  font-size: .8rem;
  right: .2rem;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  padding: 0.4rem;
  color: #fff;
  border-radius: 4px;
  @include animation(opacityIt 1s linear .5s forwards );
}
@include keyframes(opacityIt){
  0%{
    visibility: visible;
    opacity: 1;
  }
  100%{
    visibility: hidden;
    opacity: 0;
  }
};
.layer-success{
  background-color: #dff0d8;
  color: #3c763d;
}
.layer-error{
  background-color: #f2dede;
  color: #a94442;
}

article{
  padding-top: .5rem;
}
.article{
  padding: .5rem;
  background-color: #fff;
  margin-top: .5rem;
  .article-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
  }
  .post-title{
    color: $color_black;
    a{
      color: inherit;
      font-size: 0.8rem;
      display: block;
    }
  }
  .post-info{
    font-size: 0.6rem;
    color: $color_day;
    margin: 0.25rem 0;
    .post-author{
      font-weight: bold;
      margin-right: 0.3rem;
      color: $color_author;
    }
    a, .post-day{
      color: inherit;
      font-size: 0.6rem;
    }
  }
  .post-content{
    line-height: 1.05rem;
    font-size: 14px;
    margin-top: 0.25rem;
    color: #777;
  }
}
.btn-primary{
  color: #fff;
  background-color: #009a61;
  border-color: #008151;
}
.cur{
  color: $color_wt;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: .3rem .6rem;
    font-size: .7rem;
    line-height: 1.5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.w100{
  width: 100%;
}
form{
  padding: 0.5rem;
  .form-group{
    margin-bottom: 0.75rem;
  }
  label{
    display: block;
    font-weight: bold;
    font-size: 0.7rem;
    margin-bottom: 0.25rem;
  }
  .form-control{
    display: block;
    width: 100%;
    height: 1.7rem;
    font-size: 0.7rem;
    font-family: inherit;
    padding: 0.3rem 0.6rem;
    @include border-radius(3px);
    border: 1px solid #ccc;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
    @include transition(border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s);
  }
}
.edit-group{
  position: relative;
  height: 1rem;
  .btn-handle{
    position: absolute;
    display: block;
    font-size: 0.7rem;
    color: $color_day;
    top: -0.2rem;
    right: -0.5rem;
    padding: 0.5rem;
  }
  .btn-handle.btn-edit{
    right: 2rem;
  }
}
