@charset "UTF-8";
$bg_nav: #005F3C; //头部导航背景色
$bg_wt: #fff; // 白色背景
$color_black: #333; // 黑色字体
$color_wt: #fff; // 白色字体
$color_title: #009a61; //标题字体
$color_day: #999; // 时间字体
$color_author: #009a61; // 作者字体
$color_inactive: #9DCCB6; // 头部未激活字体

.text-center{
  text-align: center;
}
