<%- include ./layout/asset/head.ejs %>
<link rel="stylesheet" href="/stylesheets/register.css">
<%- include ./layout/asset/body.ejs %>
<form method="post">
  <div class="form-group">
    <label for="userPwd">旧密码</label>
    <input type="password" class="form-control" id="userPwd" name="password" value="" />
  </div>
  <div class="form-group">
    <label for="userNewPwd">新密码</label>
    <input class="form-control" type="password" name="newPwd" id="userNewPwd" value="" />
  </div>
  <div class="form-group">
    <label for="userConfirmPwd">确认新密码</label>
    <input class="form-control" type="password" name="newPwd-repeat" id="userConfirmPwd" value="" />
  </div>
  <button class="btn btn-primary w100" type="submit">确认修改</button>
</form>
</article>
</div>
<script src="/js/reg.js" charset="utf-8"></script>
<%- include ./layout/footer %>
