<%- include ./layout/header %>
这是登录页
<form method="post">
  <label for="userName">用户名</label><input type="text" id="userName" name="name" /><br>
  <label for="userPwd">密码</label><input type="password" id="userPwd" name="password" /><br>
  <input type="submit" value="登录">
</form>
</article>
</div>
<%- include ./layout/footer %>
