<%- include ./layout/header %>
这是发表页
<form method="post">
  <label for="userName">标题</label><input type="text" id="userName" name="title" /><br>
  <label for="userPwd">密码</label><input type="password" id="userPwd" name="password" /><br>
  <input type="submit" value="登录">
</form>
</article>
<%- include ./layout/footer %>
