<%- include ./layout/header %>
这是发表页
<form method="post">
  <label for="title">标题</label><input type="text" id="title" name="title" /><br>
  <label for="post">内容</label><textarea id="post" name="post" rows="20" cols="80"></textarea><br>
  <input type="submit" value="发表">
</form>
</article>
</div>
<%- include ./layout/footer %>
