<%- include ./layout/header %>
这是注册页
<form method="post">
  <label for="userName">用户名</label><input type="text" id="userName" name="name" value="" /><br>
  <label for="userPwd">密码</label><input type="password" id="userPwd" name="password" value="" /><br>
  <label for="userConfirmPwd">确认密码</label><input type="password" name="password-repeat" id="userConfirmPwd" value="" /><br>
  <label for="userEmail">邮箱</label><input type="email" id="userEmail" name="email" /><br>
  <input type="button" value="注册">
</form>
<%- include ./layout/footer %>
<script src="/js/reg.js" charset="utf-8"></script>
