<%- include ./layout/header %>
<form class="" action="/upload" enctype="multipart/form-data" method="post">
  <input type="file" name="file1" value=""><br>
  <input type="file" name="file2" value=""><br>
  <input type="submit" name="" value="上传"><br>
</form>
</article>
</div>
<%- include ./layout/footer %>
