/* line 5, E:/software/tools/work_tools/Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, E:/software/tools/work_tools/Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, E:/software/tools/work_tools/Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, E:/software/tools/work_tools/Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, E:/software/tools/work_tools/Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, E:/software/tools/work_tools/Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, E:/software/tools/work_tools/Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, E:/software/tools/work_tools/Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, E:/software/tools/work_tools/Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/layout/_theme.scss */
.text-center {
  text-align: center;
}

/* line 3, ../sass/layout/_header.scss */
header {
  display: -webkit-flex;
  display: flex;
}

/* line 6, ../sass/layout/_header.scss */
.logo-box {
  padding: 0.1rem;
  position: relative;
  height: 2.2rem;
  background-color: #fff;
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
}
/* line 12, ../sass/layout/_header.scss */
.logo-box i {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  display: block;
  width: 2rem;
  height: 2rem;
  background-image: url("/images/LOGO.svg");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 24, ../sass/layout/_header.scss */
.logo-box p {
  position: absolute;
  top: 0.1rem;
  left: 2.2rem;
  font-size: 1rem;
  line-height: 2.2rem;
  color: #005F3C;
}

/* line 33, ../sass/layout/_header.scss */
.user-name {
  background: #fff;
  line-height: 2.2rem;
}

/* line 37, ../sass/layout/_header.scss */
.user-icon {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 1.6rem;
  background-image: url("/images/user-icon.png");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  top: 0.3rem;
  right: 0.3rem;
}

/* line 50, ../sass/layout/_header.scss */
nav {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  background-color: #005F3C;
}
/* line 56, ../sass/layout/_header.scss */
nav a {
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
  text-align: center;
  font-size: .8rem;
  color: #9DCCB6;
}

/* line 7, ../sass/layout/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 10, ../sass/layout/_layout.scss */
a {
  text-decoration: none;
}

/* line 13, ../sass/layout/_layout.scss */
.wrapper {
  max-width: 640px;
  margin: 0 auto;
  word-wrap: break-word;
}

/* line 19, ../sass/layout/_layout.scss */
textarea {
  resize: vertical;
}

/* line 22, ../sass/layout/_layout.scss */
.layer {
  position: fixed;
  display: block;
  z-index: 10;
  top: 0.2rem;
  font-size: .8rem;
  right: .2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.4rem;
  color: #fff;
  border-radius: 4px;
  -moz-animation: opacityIt 1s linear 0.5s forwards;
  -webkit-animation: opacityIt 1s linear 0.5s forwards;
  animation: opacityIt 1s linear 0.5s forwards;
}

@-moz-keyframes opacityIt {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@-webkit-keyframes opacityIt {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes opacityIt {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
/* line 46, ../sass/layout/_layout.scss */
.layer-success {
  background-color: #dff0d8;
  color: #3c763d;
}

/* line 50, ../sass/layout/_layout.scss */
.layer-error {
  background-color: #f2dede;
  color: #a94442;
}

/* line 55, ../sass/layout/_layout.scss */
article {
  padding-top: .5rem;
}

/* line 58, ../sass/layout/_layout.scss */
.article {
  padding: .5rem;
  background-color: #fff;
  margin-top: .5rem;
}
/* line 62, ../sass/layout/_layout.scss */
.article .article-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}
/* line 66, ../sass/layout/_layout.scss */
.article .post-title {
  color: #333;
}
/* line 68, ../sass/layout/_layout.scss */
.article .post-title a {
  color: inherit;
  font-size: 0.8rem;
  display: block;
}
/* line 74, ../sass/layout/_layout.scss */
.article .post-info {
  font-size: 0.6rem;
  color: #999;
  margin: 0.25rem 0;
}
/* line 78, ../sass/layout/_layout.scss */
.article .post-info .post-author {
  font-weight: bold;
  margin-right: 0.3rem;
  color: #009a61;
}
/* line 83, ../sass/layout/_layout.scss */
.article .post-info a, .article .post-info .post-day {
  color: inherit;
  font-size: 0.6rem;
}
/* line 88, ../sass/layout/_layout.scss */
.article .post-content {
  line-height: 1.05rem;
  font-size: 14px;
  margin-top: 0.25rem;
  color: #777;
}

/* line 95, ../sass/layout/_layout.scss */
.btn-primary {
  color: #fff;
  background-color: #009a61;
  border-color: #008151;
}

/* line 100, ../sass/layout/_layout.scss */
.cur {
  color: #fff;
}

/* line 103, ../sass/layout/_layout.scss */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: .3rem .6rem;
  font-size: .7rem;
  line-height: 1.5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 122, ../sass/layout/_layout.scss */
.w100 {
  width: 100%;
}

/* line 125, ../sass/layout/_layout.scss */
form {
  padding: 0.5rem;
}
/* line 127, ../sass/layout/_layout.scss */
form .form-group {
  margin-bottom: 0.75rem;
}
/* line 130, ../sass/layout/_layout.scss */
form label {
  display: block;
  font-weight: bold;
  font-size: 0.7rem;
  margin-bottom: 0.25rem;
}
/* line 136, ../sass/layout/_layout.scss */
form .form-control {
  display: block;
  width: 100%;
  height: 1.7rem;
  font-size: 0.7rem;
  font-family: inherit;
  padding: 0.3rem 0.6rem;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* line 149, ../sass/layout/_layout.scss */
.edit-group {
  position: relative;
  height: 1rem;
}
/* line 152, ../sass/layout/_layout.scss */
.edit-group .btn-handle {
  position: absolute;
  display: block;
  font-size: 0.7rem;
  color: #999;
  top: -0.2rem;
  right: -0.5rem;
  padding: 0.5rem;
}
/* line 161, ../sass/layout/_layout.scss */
.edit-group .btn-handle.btn-edit {
  right: 2rem;
}

/* line 3, ../sass/user.scss */
.profile {
  display: -webkit-flex;
  display: flex;
  padding: 0.5rem;
}
/* line 6, ../sass/user.scss */
.profile .profile-avatar {
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
}
/* line 8, ../sass/user.scss */
.profile .profile-avatar .user-icon {
  width: 3.2rem;
  height: 3.2rem;
  display: block;
  top: 0;
  right: 0;
}
/* line 16, ../sass/user.scss */
.profile .profile-info {
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
}

/* line 20, ../sass/user.scss */
.profile-group {
  padding: 0.5rem;
}

/* line 23, ../sass/user.scss */
.profile-me {
  display: -webkit-flex;
  display: flex;
  border-top: 1px solid #ccc;
  padding: 0.5rem 0;
}
/* line 27, ../sass/user.scss */
.profile-me:after {
  content: "";
  display: block;
  border-bottom: 1px solid #919191;
  border-right: 1px solid #919191;
  width: 0.32rem;
  height: 0.32rem;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-right: 0.5rem;
  margin-top: 0.25rem;
}
/* line 38, ../sass/user.scss */
.profile-me .icon {
  display: block;
  width: 1rem;
  height: 1rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 46, ../sass/user.scss */
.profile-me .icon-article {
  background-image: url("/images/icon-common/icon-article.svg");
}
/* line 49, ../sass/user.scss */
.profile-me .icon-comment {
  background-image: url("/images/icon-common/icon-comment.svg");
}
/* line 52, ../sass/user.scss */
.profile-me .icon-password {
  background-image: url("/images/icon-common/icon-password.svg");
}
/* line 55, ../sass/user.scss */
.profile-me .icon-logout {
  background-image: url("/images/icon-common/icon-logout.svg");
}
/* line 58, ../sass/user.scss */
.profile-me .profile-link {
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
  font-size: 0.7rem;
  line-height: 1rem;
  padding-left: 0.5rem;
  color: #333;
}

/* line 66, ../sass/user.scss */
form {
  display: none;
}

/* line 69, ../sass/user.scss */
.input-avatar {
  display: none;
}
