<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog By Toby</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js" charset="utf-8"></script>
</head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <nav>
    <a href="/" title="主页">主页</a>
    <% if(user) { %>
      <a href="/post" title="发表">发表</a>
      <a href="/logout" title="注册">退出</a>
    <% } else { %>
      <a href="/login" title="登录">登录</a>
      <a href="/reg" title="注册">注册</a>
    <% } %>
  </nav>
  <article id="app">
